@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

$xSmall: 22.5em;
$small: 40em;
$medium: 50em;
$desktop: 61.25em;
$large: 80em;

$headBg: #0091ea;
$contentBg: #0064b7;
$txtColor: #e1f5fe;

* { box-sizing: border-box; margin: 0; padding: 0; }

html {
	font-size: 62.5%;
}

body {
	font-family: 'Architects Daughter', cursive;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

img {
	border: 3px solid $txtColor;
	border-radius: 6px;
	box-shadow: 0px 0px 2em 0px rgba(0, 0, 0, .4);
	display: block;
	max-height: 50vmax;
	margin: 0 auto;
	max-width: 100%;
}

.content {
	align-items: flex-start;
	background-color: $contentBg;
	color: $txtColor;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	width: 100%;

	h1 {
		background-color: $headBg;
		font-size: 2.4em;
		margin: 0 auto;
		padding: 6vh 0;
		text-align: center;
		width: 100%;
	}

	.description {
		align-self: center;
		font-size: 1.8em;
		padding: 4vh 1em;
		text-align: justify;
		width: auto;

		p {
			font-size: 1em;
			line-height: 1.8;
			margin: .5em auto;
		}
	}

	.slides {
		height: 100%;
		max-height: 60vh;
		// opacity: 0;
	}

	.slideshow__container {
		background-color: $contentBg;
		height: 100vh;
		margin: auto;
		max-height: 40vh;
		overflow: hidden;
		position: relative;
		width: 100vw;
	}

	.slide {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 1;
		transition: opacity 1s;
	}

	.slide img {
		display: block;
		height: auto;
		margin: auto;
		max-height: 90%;
		max-width: 100%;
	}

	.showing{
		opacity: 1;
		z-index: 2;
	}
}


footer {
	align-items: center;
	background-color: $headBg;
	color: $txtColor;
	display: flex;
	font-size: 1.4em;
	flex-flow: column wrap;
	justify-content: center;
	line-height: 1.6;
	padding: 2em;

	a {
		display: block;
		color: inherit;
		font-weight: bold;
		margin: 0 auto;
		text-decoration: none;
	}
}

@media screen and (min-width: $small) {

	.content {

		.slideshow__container {
			width: 90vw;
			max-height: 60vh;

			.slides {
				max-height: 100vh;

				.slide {
					max-height: 100vh;
				}
			}
		}
	}
}

@media screen and (min-width: $medium) {

	.content {
		min-height: 85vh;

		h1 {
			font-size: 3.2em;
		}

		.description {
			font-size: 2em;
			padding: 2em 4em;
		}

		.slideshow__container {
			max-width: 90vw;
		}
	}

	footer {
		height: 15vh;
		padding: 0;
	}
}

@media screen and (min-width: $desktop) {

	.content {

		.description {
			padding: 0 2em;
			width: 45vw;
		}

		.slideshow__container {
			max-height: 60vh;
			margin: 0 auto;
			width: 50vw;

			.slides {

				.slide {
					height: 60vh;
				}
			}
		}
	}
}